@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

.item{
    --img-height: 130px;
    --img-width: 130px;
    --item-height: 260px;
    --item-margin-top: calc( var(--img-height) / 2 + 10px );
}

.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;


    margin: var(--item-margin-top) 10px calc( var(--item-margin-top) / 2);
    background: #1F1D2B;
    border-radius: 15px;
    width: 190px;
    height: var(--item-height);
}
.description{
    height: calc( var(--item-height) - (var(--img-height) / 2) - 10px );
    transform: translateY( calc(
            var(--img-height) / 2 * -1
    ));

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
img{
    width: var(--img-width);
    height: var(--img-height);
    transform: translateY( calc( var(--img-height) / 2 * -1) );
}
p{
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    font-size: 20px;
}
p:last-child{
    color: gray;
}